BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
TabWidth: 4
UseTab: Never

BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: AlwaysBreak
Cpp11BracedListStyle: false

# This prevents the formatter from pulling the first element 
# up onto the same line as the opening brace
KeepEmptyLinesAtTheStartOfBlocks: true

# This forces the closing brace to its own line
ControlStatementMacros: []